@import "tailwindcss";

@theme {
  --font-family-head: 'Syne', sans-serif;
  --font-family-mono: 'DM Mono', monospace;
  --color-bg: #0c0c0b;
  --color-bg2: #131312;
  --color-bg3: #1c1c1a;
  --color-surface: #222220;
  --color-border: #252523;
  --color-amber: #f5a623;
  --color-amber-dim: #7a5210;
  --color-green: #3fcf72;
  --color-blue: #5b9cf6;
  --color-pink: #e879a8;
  --color-red: #f06a6a;
  --color-purple: #9d7ef0;
  --color-text: #eae8e1;
  --color-text2: #7a786f;
  --color-text3: #3f3f3b;
  --radius-pill: 22px;
}

:root {
  --bg: #0c0c0b;
  --bg2: #131312;
  --bg3: #1c1c1a;
  --bg4: #222220;
  --bg5: #2a2a27;
  --border: #252523;
  --border2: #2f2f2c;
  --border3: #3a3a36;
  --text: #eae8e1;
  --text2: #7a786f;
  --text3: #3f3f3b;
  --amber: #f5a623;
  --amber-dim: #7a5210;
  --amber-bg: #171208;
  --green: #3fcf72;
  --blue: #5b9cf6;
  --pink: #e879a8;
  --red: #f06a6a;
  --purple: #9d7ef0;
  --font-head: 'Syne', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-pill: 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-head);
  -webkit-font-smoothing: antialiased;
}
